.button{
    color: white;
    background-color: #2A2E37;
    border-color: #00FEDE;
}

.quantity{
    border: 1px solid rgb(53, 162, 235);
    padding: 3px 15px;
    cursor: pointer;
}

.quantity button{
    all: unset;
    cursor: pointer;
}

.bg-lb{
    background-color: rgb(53, 162, 235);
}

.bg-sg{
    background-color: #00FEDE;
}

.bg-gray{
    background-color: #2A2E37;
}

.color-black{
    color: black;
}

.color-lb{
    color: rgb(53, 162, 235);;
}

.color-white{
    color: white;
}

.add-funds{
    color: #2A2E37;
    background-color: #00FEDE;
    border: 1px solid #00FEDE;
    font-size: large;
    font-weight: 600;
    text-decoration: none;
}

.inc-funds{
    color: #2A2E37;
    background-color: rgb(53, 162, 235);
    border: 1px solid rgb(53, 162, 235);
    font-size: large;
    font-weight: 600;
}

.cust-input-box2{
    color: white;
    background-color: #2A2E37;
    border: 1px solid rgb(53, 162, 235);
}

.info-card{
    color: white;
    /* max-width: 1000px; */
    /* box-shadow: 0px 0px 8px 2px rgba(0, 140, 254, 0.2);  */
    box-shadow: 0px 0px 7px 1px rgb(53, 162, 235); 
}

/* .home-img{
    width: 50%;
    height: 50%;
} */

.intro-card{
    color: white;
    background-color: black;
    border: 1px solid rgb(53, 162, 235);
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: normal;
}

.mw8{
    max-width: 78rem;
}